// Colors
$grey: #333333;
$bone: #FCFAFA;
// Navigation Colors
$nav-background: $grey;
$nav-text-color: $bone;
// Clock Variables
$clock-text-color: #FFF;
$clock-bg-color: #B5D0E2;
$clock-border-color: #2099E8;